@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PokemonHollow';
  src: url('fonts/PokemonHollowNormal.eot');
  src: url('fonts/PokemonHollowNormal.eot?#iefix') format('embedded-opentype'),
      url('fonts/PokemonHollowNormal.woff2') format('woff2'),
      url('fonts/PokemonHollowNormal.woff') format('woff'),
      url('fonts/PokemonHollowNormal.ttf') format('truetype'),
      url('fonts/PokemonHollowNormal.svg#PokemonHollowNormal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PokemonClassic';
  src: url('fonts/Pokemon-Classic.eot');
  src: url('fonts/Pokemon-Classic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Pokemon-Classic.woff2') format('woff2'),
      url('fonts/Pokemon-Classic.woff') format('woff'),
      url('fonts/Pokemon-Classic.ttf') format('truetype'),
      url('fonts/Pokemon-Classic.svg#Pokemon-Classic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #242424;
  font-size: 16px;
  font-family: 'PokemonClassic', sans-serif;
  margin: 0;
}
